.login-page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.login-page__content {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 80px);
}

.login-page__image-section {
  width: 948px;
  height: 100%;
  background: url("./assets/leftPicture.png") no-repeat center center;
  background-size: cover;
}

.login-page__form-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 554px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.login-form__title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 16px;
}

.login-form__footer {
  text-align: center;
  font-size: 16px;
  color: var(--color-text-secondary);
}

.login-form__footer a {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: none;
}

.auth-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.auth-page__content {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 80px);
}

.auth-page__image-section {
  width: 948px;
  height: 100%;
  background: url("../assets/leftPicture.png");
  background-size: cover;
}

.auth-page__form-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 554px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.auth-form__title {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 16px;
}

.auth-form__footer {
  text-align: center;
  font-size: 16px;
  color: var(--color-text-secondary);
  text-decoration: none;
}

.auth-form__footer span {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: none;
}

.auth-form__avatar-control {
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-form__avatar-label {
  cursor: pointer;
}

.auth-form__avatar-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--color-border);
}

.auth-form__avatar-preview {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: none;
  border: 1px solid var(--color-border);
}

.auth-form__avatar-actions {
  display: flex;
  gap: 16px;
}

.auth-form__avatar-actions .action-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.auth-form__avatar-actions .action-button--upload {
  color: var(--color-text-secondary);
}

.auth-form__avatar-actions .action-button--remove {
  color: var(--color-text-secondary);
}
